<template>
    <v-card flat color="transparent">
        <v-card-text>
            <v-form @submit.prevent="submit">
                <v-text-field
                    label="Nome Completo"
                    v-model="displayName"
                    @blur="$v.displayName.$touch()"
                    @input="$v.displayName.$touch()"
                    :error-messages="displayNameErrors"
                ></v-text-field>

                <v-text-field
                    type="email"
                    label="E-mail"
                    v-model="email"
                    @blur="$v.email.$touch()"
                    @input="$v.email.$touch()"
                    :error-messages="emailErrors"
                ></v-text-field>

                <v-text-field
                    type="password"
                    label="Senha"
                    v-model="password"
                    @blur="$v.password.$touch()"
                    @input="$v.password.$touch()"
                    :error-messages="passwordErrors"
                ></v-text-field>

                <v-text-field
                    type="password"
                    label="Repita a senha"
                    v-model="repeatPassword"
                    @blur="$v.repeatPassword.$touch()"
                    @input="$v.repeatPassword.$touch()"
                    :error-messages="repeatPasswordErrors"
                ></v-text-field>

                <v-card-actions>
                    <v-btn
                        flat
                        to="/auth"
                        color="primary"
                        :disabled="loader"
                    >
                        Voltar
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-progress-circular
                        :size="30"
                        class="mx-1"
                        indeterminate
                        v-if="loader"
                        color="primary"
                    ></v-progress-circular>
                    <v-btn
                        type="submit"
                        color="primary"
                        :disabled="loader"
                    >
                        Registrar
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
    import firebase from 'firebase/app'
    import {required, email, sameAs, minLength} from 'vuelidate/lib/validators'
    import checkEmail from "../../../utils/ajax/users/checkEmail";

    export default {
        name: 'FormSignUp',
        data() {
            return {
                displayName: '',
                email: '',
                password: '',
                repeatPassword: '',
                loader: false,
                emailExists: false
            }
        },
        created() {
            this.$bus.$on('resetTab', tab => {
                if (tab !== 'signup') {
                    this.email = '';
                    this.password = '';
                    this.displayName = '';
                    this.repeatPassword = '';
                    this.$v.$reset();
                }
            });
        },
        methods: {
            submit() {
                this.$v.$touch();

                if (!this.$v.$anyError && !this.emailExists) {
                    this.loader = true;

                    firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
                        .then(result => result.user.sendEmailVerification())
                        .then(() => firebase.auth().currentUser.updateProfile({ displayName: this.displayName }))
                        .then(() => firebase.auth().signOut())
                        .then(() => {
                            this.loader = false;
                            this.showAlert(
                                'success',
                                'Cadastro realizado com sucesso! Enviamos um link no seu e-mail para ativar sua conta. Por favor, verifique sua caixa de entrada.'
                            );
                        })
                        .catch(err => {
                            if (process.env.NODE_ENV !== 'production') {
                                console.error(err);
                            }
                            this.loader = false;
                            this.showAlert(
                                'error',
                                'Desculpe! Não conseguimos realizar seu cadastro. Por favor, verifique seus dados e tente novamente.'
                            );
                        });
                }
            },
            checkEmail() {
                if (!this.$v.email.$anyError) {
                    checkEmail({
                        email: this.email
                    })
                        .then(exists => {
                            this.emailExists = exists;
                        });
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        },
        validations: {
            email: {required, email},
            displayName: {required, minLength: minLength(6)},
            password: {required, minLength: minLength(8)},
            repeatPassword: {required, sameAsPassword: sameAs('password')}
        },
        computed: {
            displayNameErrors() {
                const errors = [];
                if (!this.$v.displayName.$dirty) return errors;
                !this.$v.displayName.required && errors.push('Campo obrigatório.');
                !this.$v.displayName.minLength && errors.push('O nome deve conter, no mínimo, 6 caracters.');
                return errors;
            },
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.required && errors.push('Campo obrigatório');
                !this.$v.email.email && errors.push('E-mail inválido.');
                this.emailExists && errors.push('Este e-mail já está cadastrado.');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('Campo obrigatório');
                !this.$v.password.minLength && errors.push('A senha deve conter, no mínimo, 8 caracteres.');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.repeatPassword.$dirty) return errors;
                !this.$v.repeatPassword.required && errors.push('Campo obrigatório.');
                !this.$v.repeatPassword.sameAsPassword && errors.push('As senha devem ser iguais.');
                return errors;
            }
        },
        watch: {
            email() {
                this.checkEmail();
            }
        }
    }
</script>
