<template>
    <v-card flat color="transparent">
        <v-card-text>
            <v-form @submit.prevent="submit">
                <v-text-field
                    type="tel"
                    label="CNPJ"
                    mask="##.###.###/####-##"
                    v-model="cnpj"
                    @input="$v.cnpj.$touch()"
                    @blur="$v.cnpj.$touch()"
                    :error-messages="cnpjErrors"
                ></v-text-field>

                <v-text-field
                    label="Razão Social"
                    v-model="razaoSocial"
                    @blur="$v.razaoSocial.$touch()"
                    @input="$v.razaoSocial.$touch()"
                    :error-messages="razaoSocialErrors"
                    readonly
                ></v-text-field>

                <v-text-field
                    label="Nome Fantasia"
                    v-model="displayName"
                    @blur="$v.displayName.$touch()"
                    @input="$v.displayName.$touch()"
                    :error-messages="displayNameErrors"
                    :disabled="!razaoSocial || $v.cnpj.$anyError"
                ></v-text-field>

                <v-text-field
                    type="email"
                    label="E-mail"
                    v-model="email"
                    @blur="$v.email.$touch()"
                    @input="$v.email.$touch()"
                    :error-messages="emailErrors"
                    :disabled="!razaoSocial || $v.cnpj.$anyError"
                ></v-text-field>

                <v-text-field
                    type="password"
                    label="Senha"
                    v-model="password"
                    @blur="$v.password.$touch()"
                    @input="$v.password.$touch()"
                    :error-messages="passwordErrors"
                    :disabled="!razaoSocial || $v.cnpj.$anyError"
                ></v-text-field>

                <v-text-field
                    type="password"
                    label="Repita a senha"
                    v-model="repeatPassword"
                    @blur="$v.repeatPassword.$touch()"
                    @input="$v.repeatPassword.$touch()"
                    :error-messages="repeatPasswordErrors"
                    :disabled="!razaoSocial || $v.cnpj.$anyError"
                ></v-text-field>

                <v-card-actions>
                    <v-btn
                        flat
                        to="/auth"
                        color="primary"
                        :disabled="loader || !razaoSocial || $v.cnpj.$anyError"
                    >
                        Voltar
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-progress-circular
                        :size="30"
                        class="mx-1"
                        indeterminate
                        v-if="loader"
                        color="primary"
                    ></v-progress-circular>
                    <v-btn
                        type="submit"
                        color="primary"
                        :disabled="loader || !razaoSocial || $v.cnpj.$anyError"
                    >
                        Registrar
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
    import {CNPJ} from 'cpf_cnpj'
    import firebase from 'firebase/app'
    import {required, minLength, sameAs, email} from 'vuelidate/lib/validators'
    import getPartnerByCnpj from "../../../utils/ajax/partners/getPartnerByCnpj";
    import checkEmail from "../../../utils/ajax/users/checkEmail";
    import postPartner from "../../../utils/ajax/partners/postPartner";
    import putPartner from "../../../utils/ajax/partners/putPartner";

    const cnpj = value => CNPJ.isValid(value);

    export default {
        name: 'FormSignPlace',
        data() {
            return {
                loader: false,
                cnpj: '',
                razaoSocial: '',
                email: '',
                password: '',
                repeatPassword: '',
                displayName: '',
                emailExists: false,
                _id: ''
            }
        },
        created() {
            this.$bus.$on('resetTab', tab => {
                if (tab !== 'sign-place') {
                    this.email = '';
                    this.password = '';
                    this.displayName = '';
                    this.repeatPassword = '';
                    this.$v.$reset();
                }
            });
        },
        methods: {
            submit() {
                this.$v.$touch();

                if (!this.$v.$anyError) {
                    this.loader = true;

                    let uid;

                    firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
                        .then(result => {
                            uid = result.user.uid;
                            result.user.sendEmailVerification();
                            return result.user.updateProfile({ displayName: this.displayName });
                        })
                        .then(() => putPartner({
                            uid,
                            email: this.email,
                            displayName: this.displayName,
                            _id: this._id
                        }))
                        .then(() => firebase.auth().signOut())
                        .then(() => {
                            this.loader = false;
                            this.showAlert(
                                'success',
                                'Cadastro realizado com sucesso! Enviamos um link no seu e-mail para ativar sua conta. Por favor, verifique sua caixa de entrada.'
                            );
                        })
                        .catch(err => {
                            if (process.env.NODE_ENV !== 'production') {
                                console.error(err);
                            }
                            this.loader = false;
                            this.showAlert(
                                'error',
                                'Desculpe! Não conseguimos realizar seu cadastro. Por favor, verifique seus dados e tente novamente.'
                            );
                        });
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            },
            getPartnerByCnpj() {
                this.$v.cnpj.$touch();

                if (!this.$v.cnpj.$anyError) {
                    getPartnerByCnpj(this.cnpj)
                        .then(partner => {
                            this.razaoSocial = partner.razaoSocial;
                            this._id = partner._id;
                        });
                }
            },
            checkEmail() {
                this.$v.email.$touch();

                if (!this.$v.email.$anyError) {
                    checkEmail({email: this.email})
                        .then(exists => {
                            this.emailExists = exists;
                        })
                }
            }
        },
        validations: {
            cnpj: {required, cnpj},
            razaoSocial: {required, minLength: minLength(6)},
            email: {required, email},
            displayName: {required, minLength: minLength(6)},
            password: {required, minLength: minLength(8)},
            repeatPassword: {required, sameAsPassword: sameAs('password')}
        },
        computed: {
            cnpjErrors() {
                const errors = [];
                if (!this.$v.cnpj.$dirty) return errors;
                !this.$v.cnpj.required && errors.push('Campo obrigatório');
                !this.$v.cnpj.cnpj && errors.push('CNPJ inválido');
                return errors;
            },
            razaoSocialErrors() {
                const errors = [];
                if (!this.$v.razaoSocial.$dirty) return errors;
                !this.$v.razaoSocial.required && errors.push('Campo obrigatório');
                !this.$v.razaoSocial.minLength && errors.push('A razão social deve ter, no mínimo, 6 caracteres');
                return errors;
            },
            displayNameErrors() {
                const errors = [];
                if (!this.$v.displayName.$dirty) return errors;
                !this.$v.displayName.required && errors.push('Campo obrigatório.');
                !this.$v.displayName.minLength && errors.push('O nome deve conter, no mínimo, 6 caracters.');
                return errors;
            },
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.required && errors.push('Campo obrigatório');
                !this.$v.email.email && errors.push('E-mail inválido.');
                this.emailExists && errors.push('Este e-mail já está cadastrado.');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('Campo obrigatório');
                !this.$v.password.minLength && errors.push('A senha deve conter, no mínimo, 8 caracteres.');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.repeatPassword.$dirty) return errors;
                !this.$v.repeatPassword.required && errors.push('Campo obrigatório.');
                !this.$v.repeatPassword.sameAsPassword && errors.push('As senha devem ser iguais.');
                return errors;
            }
        },
        watch: {
            cnpj() {
                this.getPartnerByCnpj();
            },
            email() {
                this.checkEmail();
            }
        }
    }
</script>
