<template>
    <v-card flat color="transparent">
        <v-card-text>
            <v-form @submit.prevent="submit">
                <v-text-field
                    type="email"
                    label="E-mail"
                    v-model="email"
                    :error-messages="emailErrors"
                ></v-text-field>

                <v-text-field
                    type="password"
                    label="Senha"
                    v-model="password"
                    :error-messages="passwordErrors"
                ></v-text-field>

                <a @click.stop="showDialogSendResetPasswordLink">
                    Esqueci minha senha
                </a>

                <v-card-actions>
                    <v-btn
                        flat
                        to="/auth"
                        color="primary"
                        :disabled="loader"
                    >
                        Voltar
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-progress-circular
                        :size="30"
                        class="mx-1"
                        indeterminate
                        v-if="loader"
                        color="primary"
                    ></v-progress-circular>
                    <v-btn
                        type="submit"
                        color="primary"
                        :disabled="loader"
                    >
                        Entrar
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
    import firebase from 'firebase/app'
    import {required} from 'vuelidate/lib/validators'
    import getUser from "../../../utils/ajax/users/getUser";

    export default {
        name: 'FormLogin',
        data() {
            return {
                loader: false,
                email: '',
                password: ''
            }
        },
        created() {
            this.$bus.$on('resetTab', tab => {
                if (tab !== 'signin') {
                    this.email = '';
                    this.password = '';
                    this.$v.$reset();
                }
            });
        },
        methods: {
            submit() {
                this.$v.$touch();

                if (!this.$v.$anyError) {
                    this.loader = true;

                    firebase.auth().signInWithEmailAndPassword(this.email, this.password)
                        .then(result => {
                            if (!result.user.emailVerified) {
                                firebase.auth().signOut()
                                    .then(() => {
                                        this.loader = false;
                                        this.showAlert(
                                            'error',
                                            'Conta não verificada. Por favor, acesse sua caixa de entrada e clique no link que enviamos pra você.'
                                        );
                                    });
                            } else {
                                this.loader = false;
                                this.$router.push('/');
                            }
                        })
                        .catch(err => {
                            if (process.env.NODE_ENV !== 'production') {
                                console.error(err);
                            }
                            this.loader = false;
                            this.showAlert(
                                'error',
                                'Desculpe! E-mail e/ou senha errados.'
                            );
                        })
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            },
            showDialogSendResetPasswordLink() {
                this.$bus.$emit('showDialogSendResetPasswordLink');
            }
        },
        validations: {
            email: {required},
            password: {required}
        },
        computed: {
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.required && errors.push('Campo obrigatório');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('Campo obrigatório');
                return errors;
            },
        }
    }
</script>
