<template>
    <v-card>
        <v-card-text>
            <v-data-table
                v-model="selected"
                select-all
                item-key="cnpj"
                :loading="tableLoader"
                :headers="headers"
                :items="partners"
                hide-actions
                :pagination.sync="pagination"
                :rows-per-page-items="[10]"
            >
                <template v-slot:items="props">
                    <td>
                        <v-checkbox
                            v-model="props.selected"
                            color="primary"
                            hide-details
                        ></v-checkbox>
                    </td>

                    <td class="text-xs-center" @click.stop="showDialogFormPartner(props.item)">
                        {{ props.item.razaoSocial }}
                    </td>

                    <td class="text-xs-center hidden-sm-and-down" @click.stop="showDialogFormPartner(props.item)">
                        {{ CNPJ.format(props.item.cnpj) }}
                    </td>

                    <td class="text-xs-center hidden-xs-only">
                        <v-menu bottom left>
                            <v-btn icon slot="activator">
                                <v-icon dark color="primary">mdi-dots-vertical</v-icon>
                            </v-btn>
                            <v-list>
                                <v-list-tile @click.stop="showDialogFormPartner(props.item)">
                                    <v-list-tile-title>Editar</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click.stop="showDialogDeletePartners([props.item])">
                                    <v-list-tile-title>Remover</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </td>
                </template>
            </v-data-table>

            <div class="text-xs-center mt-3">
                <v-pagination
                    v-model="pagination.page"
                    :length="pages"
                ></v-pagination>
            </div>

            <v-card-actions class="btn-list">
                <v-spacer></v-spacer>
                <v-btn
                    color="error"
                    @click.stop="showDialogDeletePartners(selected)"
                    :disabled="!selected.length"
                >
                    Remover
                </v-btn>
                <v-btn
                    color="primary"
                    @click.stop="showDialogFormPartner(selected[0])"
                    :disabled="selected.length !== 1"
                >
                    Editar
                </v-btn>
                <v-btn
                    color="success"
                    @click.stop="showDialogFormPartner(null)"
                >
                    Adicionar
                </v-btn>
            </v-card-actions>
        </v-card-text>

        <DialogFormPartner/>
        <DialogDeletePartners/>
    </v-card>
</template>

<script>
    import {CNPJ} from 'cpf_cnpj'
    import countPartners from "../../../utils/ajax/partners/countPartners";
    import getPartners from "../../../utils/ajax/partners/getPartners";
    import DialogFormPartner from "../dialogs/DialogFormPartner";
    import DialogDeletePartners from "../dialogs/DialogDeletePartners";

    export default {
        name: 'TablePartners',
        components: {DialogDeletePartners, DialogFormPartner},
        data() {
            return {
                CNPJ,
                tableLoader: true,
                pagination: {},
                selected: [],
                headers: [
                    {
                        text: 'Razão Social',
                        value: 'razaoSocial',
                        sortable: true,
                        align: 'center'
                    },
                    {
                        text: 'CNPJ',
                        value: 'cnpj',
                        sortable: true,
                        align: 'center',
                        class: 'hidden-sm-and-down'
                    },
                    {
                        text: 'Opções',
                        value: '',
                        sortable: false,
                        align: 'center',
                        class: 'hidden-xs-only'
                    }
                ]
            }
        },
        beforeMount() {
            this.getPartnersData();
        },
        computed: {
            partners() {
                return this.$store.getters.partners;
            },
            pages() {
                if (this.pagination.rowsPerPage == null || this.pagination.totalItems == null)
                    return 0;
                else
                    return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage);
            }
        },
        methods: {
            showDialogFormPartner(partner) {
                this.$bus.$emit('showDialogFormPartner', partner);
            },
            showDialogDeletePartners(partners) {
                let ids = [];

                partners.forEach(partner => {
                    ids.push(partner._id);
                });

                this.$bus.$emit('showDialogDeletePartners', ids);
            },
            getPartnersData() {
                countPartners()
                    .then(count => {
                        this.pagination.totalItems = count;
                        let { page, rowsPerPage } = this.pagination;
                        return getPartners(rowsPerPage, (page - 1) * rowsPerPage);
                    })
                    .then(() => {
                        this.tableLoader = false;
                    })
                    .catch(err => {
                        this.tableLoader = false;
                    });
            }
        },
        watch: {
            partners() {
                countPartners()
                    .then(total => {
                        console.log(total);
                        this.pagination.totalItems = total;
                    })
            },
            'pagination.page'(newValue, oldValue) {
                if (!!oldValue) {
                    this.getPartnersData();
                }
            }
        }
    }
</script>

<style scoped>
    td {
        cursor: pointer !important;
    }

    @media only screen and (max-width: 420px) {
        .btn-list {
            display: flex;
            flex-direction: column;
        }

        .btn-list .v-btn {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            margin-right: auto;
            margin-left: auto;
        }
    }
</style>
