<template>
    <v-card flat color="transparent">
        <v-card-title>
            <div class="headline">Parceiros</div>
        </v-card-title>
        <v-card-text>
            <TablePartners/>
        </v-card-text>
    </v-card>
</template>

<script>
    import TablePartners from "../tables/TablePartners";
    export default {
        name: 'CardPartners',
        components: {TablePartners}
    }
</script>
