<template>
    <v-dialog
        persistent
        v-model="dialog"
        max-width="400px"
    >
        <v-card>
            <v-card-title>
                <div class="headline">Remover Parceiros</div>
            </v-card-title>
            <v-card-text>
                <p>Tem certeza que deseja estes parceiros?</p>
                <v-card-actions>
                    <v-btn
                        flat
                        @click.stop="close"
                        :disabled="loader"
                    >
                        Cancelar
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-progress-circular
                        :size="30"
                        class="mx-1"
                        indeterminate
                        v-if="loader"
                        color="error"
                    ></v-progress-circular>
                    <v-btn
                        type="submit"
                        color="error"
                        @click="remove"
                        :disabled="loader"
                    >
                        Remover
                    </v-btn>
                </v-card-actions>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import deletePartners from "../../../utils/ajax/partners/deletePartners";

    export default {
        name: 'DialogDeletePartners',
        data() {
            return {
                dialog: false,
                loader: false,
                ids: []
            }
        },
        created() {
            this.$bus.$on('showDialogDeletePartners', ids => {
                if (ids.length) {
                    this.ids = ids;
                    this.dialog = true;
                }
            });
        },
        methods: {
            close() {
                this.dialog = false;
                this.loader = false;
                this.ids = [];
            },
            remove() {
                this.loader = true;
                deletePartners(this.ids)
                    .then(() => {
                        this.close();
                        this.showAlert('success', 'Itens removidos com sucesso!');
                    })
                    .catch(err => {
                        this.loader = false;
                        this.showAlert('error', 'Desculpe! Não foi possível remover os itens selecionados. Tente novamente.');
                    });
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            },
        }
    }
</script>
