<template>
    <v-dialog
        v-model="dialog"
        persistent
        max-width="500px"
    >
        <v-card>
            <v-card-title>
                <div class="headline">
                    {{ partner._id ? 'Editar' : 'Adicionar' }} Parceiro
                </div>
            </v-card-title>
            <v-card-text>
                <v-form @submit.prevent="submit">
                    <v-text-field
                        type="tel"
                        label="CNPJ"
                        mask="##.###.###/####-##"
                        v-model="partner.cnpj"
                        @input="$v.partner.cnpj.$touch()"
                        @blur="$v.partner.cnpj.$touch()"
                        :error-messages="cnpjErrors"
                    ></v-text-field>

                    <v-text-field
                        label="Razão Social"
                        v-model="partner.razaoSocial"
                        @input="$v.partner.razaoSocial.$touch()"
                        @blur="$v.partner.razaoSocial.$touch()"
                        :error-messages="razaoSocialErrors"
                    ></v-text-field>

                    <v-card-actions>
                        <v-btn
                            flat
                            type="button"
                            @click.stop="close"
                            :disabled="loader"
                        >
                            Cancelar
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-progress-circular
                            :size="30"
                            class="mx-1"
                            indeterminate
                            v-if="loader"
                            color="primary"
                        ></v-progress-circular>
                        <v-btn
                            color="primary"
                            type="submit"
                            :disabled="loader"
                        >
                            Salvar
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {CNPJ} from 'cpf_cnpj'
    import {required, minLength} from 'vuelidate/lib/validators'
    import checkCnpj from "../../../utils/ajax/partners/checkCnpj";
    import postPartner from "../../../utils/ajax/partners/postPartner";
    import putPartner from "../../../utils/ajax/partners/putPartner";

    const cnpj = value => CNPJ.isValid(value);

    export default {
        name: 'DialogFormPartner',
        data() {
            return {
                dialog: false,
                loader: false,
                partner: {
                    cnpj: '',
                    razaoSocial: '',
                    _id: ''
                },
                cnpjExists: false
            }
        },
        created() {
            this.$bus.$on('showDialogFormPartner', partner => {
                if (!!partner) {
                    this.partner = JSON.parse(JSON.stringify(partner));
                } else {
                    this.$v.partner.$reset();
                }
                this.dialog = true;
            });
        },
        methods: {
            close() {
                this.dialog = false;
                this.loader = false;
                this.partner = {
                    cnpj: '',
                    razaoSocial: '',
                    _id: ''
                };
                this.$v.partner.$reset();
            },
            submit() {
                this.$v.partner.$touch();

                if (!this.$v.partner.$anyError && !this.cnpjExists) {
                    this.loader = true;

                    if (!this.partner._id) {
                        delete this.partner._id;

                        postPartner(this.partner)
                            .then(() => {
                                this.close();
                                this.showAlert('success', 'Item salvo com sucesso!');
                            })
                            .catch(() => {
                                this.loader = false;
                                this.showAlert('error', 'Desculpe! Não foi possível salvar este item.');
                            });
                    } else {
                        putPartner(this.partner)
                            .then(() => {
                                this.close();
                                this.showAlert('success', 'Item salvo com sucesso!');
                            })
                            .catch(() => {
                                this.loader = false;
                                this.showAlert('error', 'Desculpe! Não foi possível salvar este item.');
                            });
                    }
                }
            },
            checkCnpj() {
                this.$v.partner.cnpj.$touch();
                if (!this.$v.partner.cnpj.$anyError) {
                    checkCnpj({
                        cnpj: this.partner.cnpj,
                        _id: this.partner._id
                    })
                        .then(exists => {
                            this.cnpjExists = exists;
                        })
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        },
        validations: {
            partner: {
                cnpj: {required, cnpj},
                razaoSocial: {required, minLength: minLength(6)}
            }
        },
        computed: {
            cnpjErrors() {
                const errors = [];
                if (!this.$v.partner.cnpj.$dirty) return errors;
                !this.$v.partner.cnpj.required && errors.push('Campo obrigatório');
                !this.$v.partner.cnpj.cnpj && errors.push('CNPJ inválido');
                this.cnpjExists && errors.push('Este CNPJ já está cadastrado');
                return errors;
            },
            razaoSocialErrors() {
                const errors = [];
                if (!this.$v.partner.razaoSocial.$dirty) return errors;
                !this.$v.partner.razaoSocial.required && errors.push('Campo obrigatório');
                !this.$v.partner.razaoSocial.minLength && errors.push('A razão social deve ter, no mínimo, 6 caracteres');
                return errors;
            }
        },
        watch: {
            'partner.cnpj'() {
                this.checkCnpj();
            }
        }
    }
</script>
