<template>
    <v-dialog
        persistent
        v-model="dialog"
        max-width="400px"
    >
        <v-card>
            <v-card-title>
                <div class="headline">Redefinir Senha</div>
            </v-card-title>
            <v-card-text>
                <v-form @submit.prevent="submit">
                    <v-text-field
                        label="Senha"
                        type="password"
                        v-model="password"
                        @blur="$v.password.$touch()"
                        @input="$v.password.$touch()"
                        :error-messages="passwordErrors"
                    ></v-text-field>

                    <v-text-field
                        type="password"
                        label="Repita a senha"
                        v-model="repeatPassword"
                        @blur="$v.repeatPassword.$touch()"
                        @input="$v.repeatPassword.$touch()"
                        :error-messages="repeatPasswordErrors"
                    ></v-text-field>

                    <v-card-actions>
                        <v-btn
                            flat
                            type="button"
                            @click="close"
                            color="primary"
                            :disabled="loader"
                        >
                            Cancelar
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-progress-circular
                            :size="30"
                            class="mx-1"
                            indeterminate
                            v-if="loader"
                            color="primary"
                        ></v-progress-circular>
                        <v-btn
                            type="submit"
                            color="primary"
                            :disabled="loader"
                        >
                            Redefinir
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import firebase from 'firebase/app'
    import {required, sameAs, minLength} from 'vuelidate/lib/validators'

    export default {
        name: 'DialogResetPassword',
        data() {
            return {
                loader: false,
                dialog: false,
                actionCode: '',
                password: '',
                repeatPassword: ''
            }
        },
        created() {
            this.$bus.$on('showDialogResetPassword', actionCode => {
                this.actionCode = actionCode;
                this.dialog = true;
            });
        },
        methods: {
            close() {
                this.dialog = false;
                this.loader = false;
                this.password = '';
                this.repeatPassword = '';
                this.$v.$reset();
            },
            submit() {
                this.$v.$touch();

                if (!this.$v.$anyError) {
                    this.loader = true;

                    firebase.auth().confirmPasswordReset(this.actionCode, this.password)
                        .then(resp => {
                            this.close();
                            this.showAlert('success', 'Senha redefinida com sucesso!');
                        })
                        .catch(err => {
                            if (process.env.NODE_ENV !== 'production') {
                                console.error(err);
                            }
                            this.close();
                            this.showAlert('error', 'Seu link expirou! Por favor, repita o processo de redefinição de sua senha.');
                        });
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        },
        validations: {
            password: {required, minLength: minLength(8)},
            repeatPassword: {required, sameAsPassword: sameAs('password')}
        },
        computed: {
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('Campo obrigatório');
                !this.$v.password.minLength && errors.push('A senha deve conter, no mínimo, 8 caracteres.');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.repeatPassword.$dirty) return errors;
                !this.$v.repeatPassword.required && errors.push('Campo obrigatório.');
                !this.$v.repeatPassword.sameAsPassword && errors.push('As senha devem ser iguais.');
                return errors;
            }
        }
    }
</script>
