<template>
    <v-dialog
        persistent
        v-model="dialog"
        max-width="400px"
    >
        <v-card>
            <v-card-title>
                <div class="headline">Redefinir Senha</div>
                <p>Insira abaixo seu e-mail para enviarmos o link de redefinição.</p>
            </v-card-title>
            <v-card-text>
                <v-form @submit.prevent="submit">
                    <v-text-field
                        label="E-mail"
                        type="email"
                        v-model="email"
                        @blur="$v.email.$touch()"
                        @input="$v.email.$touch()"
                        :error-messages="emailErrors"
                    ></v-text-field>

                    <v-card-actions>
                        <v-btn
                            flat
                            type="button"
                            @click="close"
                            color="primary"
                            :disabled="loader"
                        >
                            Cancelar
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-progress-circular
                            :size="30"
                            class="mx-1"
                            indeterminate
                            v-if="loader"
                            color="primary"
                        ></v-progress-circular>
                        <v-btn
                            type="submit"
                            color="primary"
                            :disabled="loader"
                        >
                            Enviar
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import firebase from 'firebase/app'
    import {required, email} from 'vuelidate/lib/validators'

    export default {
        name: 'DialogSendResetPasswordLink',
        data() {
            return {
                dialog: false,
                loader: false,
                email: ''
            }
        },
        created() {
            this.$bus.$on('showDialogSendResetPasswordLink', () => {
                this.dialog = true;
            });
        },
        methods: {
            close() {
                this.dialog = false;
                this.loader = false;
                this.email = '';
                this.$v.$reset();
            },
            submit() {
                this.$v.$touch();

                if (!this.$v.$anyError) {
                    this.loader = true;

                    firebase.auth().sendPasswordResetEmail(this.email)
                        .then(resp => {
                            this.close();
                            this.showAlert('success', 'Link enviado com sucesso! Acesse sua caixa de entrada.');
                        })
                        .catch(err => {
                            if (process.env.NODE_ENV !== 'production') {
                                console.error(err);
                            }
                            this.loader = false;
                            this.showAlert('error', 'Desculpe! Não foi possível enviar seu link. Por favor, tente novamente.');
                        });
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        },
        validations: {
            email: {required, email}
        },
        computed: {
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.required && errors.push('Campo obrigatório');
                !this.$v.email.email && errors.push('E-mail inválido.');
                this.emailExists && errors.push('Este e-mail já está cadastrado.');
                return errors;
            },
        }
    }
</script>
