<template>
    <v-dialog
        persistent
        v-model="dialog"
        max-width="400px"
    >
        <v-card>
            <v-card-title>
                <div class="headline">Enviar link de ativação</div>
            </v-card-title>
            <v-card-text>
                <v-form @submit.prevent="submit">
                    <v-text-field
                        type="email"
                        label="E-mail"
                        v-model="email"
                        :error-messages="emailErrors"
                    ></v-text-field>

                    <v-text-field
                        type="password"
                        label="Senha"
                        v-model="password"
                        :error-messages="passwordErrors"
                    ></v-text-field>

                    <a @click.stop="showDialogSendResetPasswordLink" class="d-block my-3">
                        Esqueci minha senha
                    </a>

                    <v-card-actions>
                        <v-btn
                            flat
                            type="button"
                            @click="close"
                            color="primary"
                            :disabled="loader"
                        >
                            Cancelar
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-progress-circular
                            :size="30"
                            class="mx-1"
                            indeterminate
                            v-if="loader"
                            color="primary"
                        ></v-progress-circular>
                        <v-btn
                            type="submit"
                            color="primary"
                            :disabled="loader"
                        >
                            Enviar
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import firebase from 'firebase/app'
    import {required} from 'vuelidate/lib/validators'
    import getUser from "../../../utils/ajax/users/getUser";

    export default {
        name: 'FormLogin',
        data() {
            return {
                loader: false,
                email: '',
                password: '',
                dialog: false
            }
        },
        created() {
            this.$bus.$on('showDialogResendEmailVerification', () => {
                this.dialog = true;
            });
        },
        methods: {
            close() {
                this.dialog = false;
                this.loader = false;
                this.email = '';
                this.password = '';
                this.$v.$reset();
            },
            submit() {
                this.$v.$touch();

                if (!this.$v.$anyError) {
                    this.loader = true;

                    firebase.auth().signInWithEmailAndPassword(this.email, this.password)
                        .then(result => result.user.sendEmailVerification())
                        .then(() => firebase.auth().signOut())
                        .then(() => {
                            this.close();
                            this.showAlert('success', 'Link enviado com sucesso!');
                        })
                        .catch(err => {
                            if (process.env.NODE_ENV !== 'production') {
                                console.error(err);
                            }
                            this.loader = false;
                            this.showAlert('error', 'Falha ao enviar link! E-mail e/ou senha incorretos.');
                        });
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            },
            showDialogSendResetPasswordLink() {
                this.close();
                this.$bus.$emit('showDialogSendResetPasswordLink');
            }
        },
        validations: {
            email: {required},
            password: {required}
        },
        computed: {
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.required && errors.push('Campo obrigatório');
                return errors;
            },
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('Campo obrigatório');
                return errors;
            },
        }
    }
</script>
