<template>
    <v-tabs
        grow
        centered
        v-model="model"
        color="transparent"
        slider-color="primary"
    >
        <v-tab href="#tab-1" @click.stop="resetTab('signup')">REGISTRE-SE</v-tab>
        <v-tab-item value="tab-1">
            <FormSignUp/>
        </v-tab-item>

        <v-tab href="#tab-2" @click.stop="resetTab('sign-place')">REGISTRAR LOCAL</v-tab>
        <v-tab-item value="tab-2">
            <FormSignPlace/>
        </v-tab-item>

        <v-tab href="#tab-3" @click.stop="resetTab('signin')">ENTRAR</v-tab>
        <v-tab-item value="tab-3">
            <FormLogin/>
        </v-tab-item>
    </v-tabs>
</template>

<script>
    import FormLogin from "../forms/FormLogin";
    import FormSignUp from "../forms/FormSignUp";
    import FormSignPlace from "../forms/FormSignPlace";
    export default {
        name: 'TabsAuth',
        components: {FormSignPlace, FormSignUp, FormLogin},
        data() {
            return {
                model: 'tab-1'
            }
        },
        methods: {
            resetTab(tab) {
                this.$bus.$emit('resetTab', tab);
            }
        }
    }
</script>
