<template>
    <v-card flat color="transparent">
        <v-card-text>
            <TabsAuth/>
        </v-card-text>
    </v-card>
</template>

<script>
    import TabsAuth from "../tabs/TabsAuth";
    export default {
        name: 'CardLogin',
        components: {TabsAuth},
    }
</script>


