<template>
    <v-container class="content-center" grid-list-md>
        <v-layout row wrap>
            <v-flex xs12>
                <CardPartners/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import CardPartners from "../components/admin/cards/CardPartners";
    export default {
        name: 'Admin',
        components: {CardPartners}
    }
</script>
