<template>
    <v-content>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <v-card flat color="transparent">
                    <v-card-text class="btn-group" v-if="!loader">
                        <v-icon class="mb-4" color="primary">mdi-soccer</v-icon>
                        <v-btn large color="white" @click.stop="signWithGoogle">Entrar com google</v-btn>
                        <v-btn large color="primary" to="/login">Entrar ou registrar com e-mail</v-btn>
                    </v-card-text>

                    <v-card-text v-else class="text-xs-center">
                        <v-progress-circular
                            :size="70"
                            :width="7"
                            color="primary"
                            indeterminate
                        ></v-progress-circular>
                        <p class="mt-4 loader-text">Por Favor, aguarde! Estamos buscando seus dados...</p>
                    </v-card-text>
                </v-card>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
    import firebase from 'firebase/app'

    export default {
        name: 'Auth',
        data() {
            return {
                loader: false
            }
        },
        methods: {
            signWithGoogle() {
                firebase.auth().signInWithPopup(new firebase.auth.GoogleAuthProvider)
                    .then(result => {
                        this.loader = true;

                        if (result.additionalUserInfo.isNewUser) {
                            let addPlayerClaim = firebase.functions().httpsCallable('addPlayerClaim');

                            addPlayerClaim({ email: result.user.email })
                                .then(resp => {
                                    this.loader = false;
                                    this.$router.push('/');
                                })
                                .catch(err => {
                                    if (process.env.NODE_ENV !== 'production') {
                                        console.error(err);
                                    }
                                    firebase.auth().signOut();
                                    this.loader = false;
                                    this.showAlert('error', 'Desculpe! Não foi possível acessar sua conta. Verifique seus dados e tente novamente.');
                                });
                        } else {
                            this.loader = false;
                            this.$router.push('/');
                        }
                    })
                    .catch(err => {
                        if (process.env.NODE_ENV !== 'production') {
                            console.error(err);
                        }

                        firebase.auth().signOut()
                            .then(() => {
                                this.loader = false;
                                if (err.code !== 'auth/popup-closed-by-user') {
                                    this.showAlert('error', 'Desculpe! Não foi possível acessar sua conta. Verifique seus dados e tente novamente.');
                                }
                            });
                    });
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        }
    }
</script>

<style scoped>
    .btn-group {
        display: flex;
        flex-direction: column;
    }

    .v-icon {
        font-size: 10em;
    }

    .loader-text {
        font-size: 1.125em !important;
    }
</style>
