<template>
    <v-content v-if="!user">
        <v-container fluid fill-height>
            <v-layout align-center justify-center column class="text-xs-center">
                <v-progress-circular
                    :size="70"
                    :width="7"
                    color="primary"
                    indeterminate
                ></v-progress-circular>
                <p class="mt-4 loader-text">Por Favor, aguarde! Estamos buscando seus dados...</p>
            </v-layout>
        </v-container>
    </v-content>

    <v-content v-else>
        <Menu/>
        <Admin v-if="isAdmin"/>
    </v-content>
</template>

<script>
    import firebase from 'firebase/app'
    import Admin from "./Admin";
    import Menu from "../components/general/Menu";

    export default {
        name: 'Index',
        components: {Menu, Admin},
        computed: {
            user() {
                return firebase.auth().currentUser;
            },
            isAdmin() {
                return firebase.auth().currentUser.getIdTokenResult()
                    .then(idTokenResult => {
                        return idTokenResult.claims.admin;
                    });
            },
            isPlace() {
                return firebase.auth().currentUser.getIdTokenResult()
                    .then(idTokenResult => {
                        return idTokenResult.claims.place;
                    });
            },
            isPlayer() {
                return firebase.auth().currentUser.getIdTokenResult()
                    .then(idTokenResult => {
                        return idTokenResult.claims.player;
                    });
            }
        }
    }
</script>
