<template>
    <v-content>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <v-flex xs12 sm8 md4 lg4>
                    <div class="text-xs-center">
                        <v-icon color="primary">mdi-soccer</v-icon>
                    </div>
                    <CardLogin/>
                </v-flex>
            </v-layout>
        </v-container>

        <DialogResetPassword/>
        <DialogSendResetPasswordLink/>
        <DialogResendEmailVerification/>
    </v-content>
</template>

<script>
    import firebase from 'firebase/app'

    import CardLogin from "../components/login/cards/CardLogin";
    import DialogResetPassword from "../components/login/dialogs/DialogResetPassword";
    import DialogResendEmailVerification from "../components/login/dialogs/DialogResendEmailVerification";
    import DialogSendResetPasswordLink from "../components/login/dialogs/DialogSendResetPasswordLink";

    export default {
        name: 'Login',
        components: {DialogSendResetPasswordLink, DialogResendEmailVerification, DialogResetPassword, CardLogin},
        mounted() {
            let mode = this.$route.query.mode;
            let actionCode = this.$route.query.oobCode;

            if (mode === 'verifyEmail') {
                firebase.auth().applyActionCode(actionCode)
                    .then(() => {
                        this.showAlert('success', 'Conta verificada com sucesso! Você já pode fazer login.');
                    })
                    .catch(err => {
                        if (process.env.NODE_ENV !== 'production') {
                            console.error(err);
                        }
                        this.showAlert('error', 'Este link expirou! Por favor, faça uma nova solicitação de ativação.');
                        this.$bus.$emit('showDialogResendEmailVerification');
                    });
            } else if (mode === 'resetPassword') {
                this.$bus.$emit('showDialogResetPassword', actionCode);
            }
        },
        methods: {
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        }
    }
</script>

<style scoped>
    .v-icon {
        font-size: 10em !important;
    }
</style>
