<template>
    <v-content v-if="!user">
        <v-container fluid fill-height>
            <v-layout align-center justify-center column class="text-xs-center">
                <v-progress-circular
                    :size="70"
                    :width="7"
                    color="primary"
                    indeterminate
                ></v-progress-circular>
                <p class="mt-4 loader-text">Por Favor, aguarde! Estamos buscando seus dados...</p>
            </v-layout>
        </v-container>
    </v-content>

    <v-content v-else>
        <Menu/>

        <v-container grid-list-md class="content-center">
            <v-layout row wrap>
                <v-flex xs12 sm12 md6 offset-md3 lg4 offset-lg4>
                    <CardProfile/>
                </v-flex>
                <v-flex xs12 sm12 md4 offset-md4 lg2 offset-lg5 class="my-5">
                    <v-divider></v-divider>
                </v-flex>
                <v-flex xs12 sm12 md6 offset-md3 lg4 offset-lg4>
                    <CardChangeEmail/>
                </v-flex>
                <v-flex xs12 sm12 md4 offset-md4 lg2 offset-lg5 class="my-5">
                    <v-divider></v-divider>
                </v-flex>
                <v-flex xs12 sm12 md6 offset-md3 lg4 offset-lg4>
                    <CardResetPassword/>
                </v-flex>
                <v-flex xs12 sm12 md4 offset-md4 lg2 offset-lg5 class="my-5">
                    <v-divider></v-divider>
                </v-flex>
                <v-flex xs12 sm12 md6 offset-md3 lg4 offset-lg4>
                    <CardDisableUser/>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
    import firebase from 'firebase/app'
    import Menu from "../components/general/Menu";
    import CardChangeEmail from "../components/settings/cards/CardChangeEmail";
    import CardResetPassword from "../components/settings/cards/CardResetPassword";
    import CardDisableUser from "../components/settings/cards/CardDisableUser";
    import CardProfile from "../components/settings/cards/CardProfile";

    export default {
        name: 'Settings',
        components: {CardProfile, CardDisableUser, CardResetPassword, CardChangeEmail, Menu},
        computed: {
            user() {
                return firebase.auth().currentUser;
            }
        }
    }
</script>
