<template>
    <v-snackbar
        top
        right
        class="pa-3"
        multi-line
        :color="color"
        :timeout="timeout"
        v-model="snackbar"
    >
        {{ text }}
        <v-btn
            flat
            color="white"
            @click="snackbar = false"
        >
            <v-icon>mdi-close</v-icon>
        </v-btn>
    </v-snackbar>
</template>

<script>
    export default {
        name: 'Alert',
        data() {
            return {
                snackbar: false,
                timeout: 3000,
                text: '',
                color: 'error'
            }
        },
        created() {
            this.$bus.$on('showAlert', data => {
                this.color = data.color;
                this.text = data.text;
                this.snackbar = true;
            });
        }
    }
</script>
