<template>
    <div>
        <v-toolbar
            app
            flat
            dark
            fixed
            color="primary"
        >
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>
                Administrador
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn flat @click.stop="logout">
                    <v-icon left>mdi-close</v-icon>
                    Sair
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <v-navigation-drawer
            app
            temporary
            v-model="drawer"
        >
            <v-toolbar flat class="transparent">
                <v-list class="pa-0">
                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>{{displayName}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-toolbar>

            <v-list class="pt-0">
                <v-divider></v-divider>

                <v-list-tile to="/">
                    <v-list-tile-action>
                        <v-icon>mdi-home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-title>Inicio</v-list-tile-title>
                </v-list-tile>

                <v-list-tile to="/settings">
                    <v-list-tile-action>
                        <v-icon>mdi-settings</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-title>Configurações</v-list-tile-title>
                </v-list-tile>

                <v-list-tile @click.stop="logout">
                    <v-list-tile-action>
                        <v-icon>mdi-close</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-title>Sair</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import firebase from 'firebase/app'
    import logout from "../../utils/logout";

    export default {
        name: 'Menu',
        data() {
            return {
                drawer: false,
                logout
            }
        },
        computed: {
            user() {
                return this.$store.getters.user;
            },
            displayName() {
                return firebase.auth().currentUser.displayName;
            }
        }
    }
</script>
