<template>
    <v-card flat color="transparent">
        <v-card-text class="pa-0">
            <v-form @submit.prevent="submit">
                <v-text-field
                    type="password"
                    label="Nova senha"
                    v-model="password"
                    @blur="$v.password.$touch()"
                    @input="$v.password.$touch()"
                    :error-messages="passwordErrors"
                ></v-text-field>

                <v-text-field
                    type="password"
                    label="Repita a senha"
                    v-model="repeatPassword"
                    @blur="$v.repeatPassword.$touch()"
                    @input="$v.repeatPassword.$touch()"
                    :error-messages="repeatPasswordErrors"
                ></v-text-field>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-progress-circular
                        :size="30"
                        class="mx-1"
                        indeterminate
                        v-if="loader"
                        color="primary"
                    ></v-progress-circular>
                    <v-btn
                        type="submit"
                        color="primary"
                        :disabled="loader"
                    >
                        Redefinir
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
    import firebase from 'firebase/app'
    import {required, sameAs, minLength} from 'vuelidate/lib/validators'
    import updateUser from "../../../utils/ajax/users/updateUser";
    import logout from '@/utils/logout'

    export default {
        name: 'FormResetPassword',
        data() {
            return {
                loader: false,
                password: '',
                repeatPassword: ''
            }
        },
        methods: {
            submit() {
                this.$v.$touch();

                if (!this.$v.$anyError) {
                    this.loader = true;

                    updateUser({
                        password: this.password,
                        uid: firebase.auth().currentUser.uid
                    })
                        .then(() => {
                            this.showAlert('success', 'Senha atualizada com sucesso!');

                            setTimeout(() => {
                                logout();
                            }, 3000);
                        })
                        .catch(() => {
                            this.loader = false;
                            this.showAlert('error', 'Desculpe! Não foi possível redefinir seu e-mail. Tente novamente.');
                        });
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        },
        validations: {
            password: {required, minLength: minLength(8)},
            repeatPassword: {required, sameAsPassword: sameAs('password')}
        },
        computed: {
            passwordErrors() {
                const errors = [];
                if (!this.$v.password.$dirty) return errors;
                !this.$v.password.required && errors.push('Campo obrigatório');
                !this.$v.password.minLength && errors.push('A senha deve conter, no mínimo, 8 caracteres.');
                return errors;
            },
            repeatPasswordErrors() {
                const errors = [];
                if (!this.$v.repeatPassword.$dirty) return errors;
                !this.$v.repeatPassword.required && errors.push('Campo obrigatório.');
                !this.$v.repeatPassword.sameAsPassword && errors.push('As senha devem ser iguais.');
                return errors;
            }
        }
    }
</script>
