<template>
    <v-card flat color="transparent">
        <v-card-text class="pa-0">
            <v-form @submit.prevent="submit">
                <v-text-field
                    readonly
                    label="E-mail atual"
                    :value="user.email"
                ></v-text-field>

                <v-text-field
                    type="email"
                    v-model="email"
                    label="Novo E-mail"
                    @blur="$v.email.$touch()"
                    @input="$v.email.$touch()"
                    :error-messages="emailErrors"
                ></v-text-field>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-progress-circular
                        :size="30"
                        class="mx-1"
                        indeterminate
                        v-if="loader"
                        color="primary"
                    ></v-progress-circular>
                    <v-btn
                        type="submit"
                        color="primary"
                        :disabled="loader"
                    >
                        Redefinir
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
    import firebase from 'firebase/app'
    import {required, email} from 'vuelidate/lib/validators'
    import checkEmail from "../../../utils/ajax/users/checkEmail";
    import updateUser from "../../../utils/ajax/users/updateUser";
    import logout from '@/utils/logout'

    export default {
        name: 'FormChangeEmail',
        data() {
            return {
                loader: false,
                email: '',
                emailExists: false
            }
        },
        computed: {
            user() {
                return firebase.auth().currentUser;
            },
            emailErrors() {
                const errors = [];
                if (!this.$v.email.$dirty) return errors;
                !this.$v.email.required && errors.push('Campo obrigatório');
                !this.$v.email.email && errors.push('E-mail inválido.');
                this.emailExists && errors.push('Este e-mail já está cadastrado.');
                return errors;
            }
        },
        methods: {
            submit() {
                this.$v.$touch();

                if (!this.$v.$touch() && !this.emailExists && this.email !== this.userEmail) {
                    this.loader = true;

                    updateUser({
                        email: this.email,
                        uid: this.user.uid
                    })
                        .then(() => {
                            this.loader = false;
                            this.showAlert('success', 'E-mail atualizado com sucesso!');

                            setTimeout(() => {
                                logout();
                            }, 3000);
                        })
                        .catch(() => {
                            this.loader = false;
                            this.showAlert('error', 'Desculpe! Não foi possível redefinir seu e-mail. Tente novamente.');
                        });
                }
            },
            checkEmail() {
                if (!this.$v.email.$anyError) {
                    checkEmail({
                        email: this.email
                    })
                        .then(exists => {
                            this.emailExists = exists;
                        });
                }
            },
            showAlert(color, text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        },
        validations: {
            email: {required, email}
        },
        watch: {
            email() {
                this.checkEmail();
            }
        }
    }
</script>
