<template>
    <v-card flat color="transparent">
        <v-card-text class="pa-0">
            <v-form @submit.prevent="submit">
                <v-text-field
                    label="Nome Completo"
                    v-model="displayName"
                    :error-messages="displayNameErrors"
                    @blur="$v.displayName.$touch()"
                    @input="$v.displayName.$touch()"
                ></v-text-field>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-progress-circular
                        :size="30"
                        class="mx-1"
                        indeterminate
                        v-if="loader"
                        color="primary"
                    ></v-progress-circular>
                    <v-btn
                        type="submit"
                        color="primary"
                        :disabled="loader"
                    >
                        Salvar
                    </v-btn>
                </v-card-actions>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
    import firebase from 'firebase/app'
    import {required, minLength} from 'vuelidate/lib/validators'

    export default {
        name: 'FormProfile',
        data() {
            return {
                displayName: '',
                loader: false
            }
        },
        created() {
            this.displayName = firebase.auth().currentUser.displayName;
        },
        methods: {
            submit() {
                this.$v.$touch();

                if (!this.$v.$anyError) {
                    this.loader = true;

                    firebase.auth().currentUser.updateProfile({
                        displayName: this.displayName
                    })
                        .then(() => {
                            this.loader = false;
                            this.showAlert('success', 'Perfil atualizado com sucesso!');
                        })
                        .catch(err => {
                            if (process.env.NODE_ENV !== 'production') {
                                console.error(err);
                            }
                            this.loader = false;
                            this.showAlert('error', 'Desculpe! Não foi possível atualizar seu perfil. Tente novamente.');
                        });
                }
            },
            showAlert(color,text) {
                this.$bus.$emit('showAlert', {color, text});
            }
        },
        validations: {
            displayName: {required, minLength: minLength(6)}
        },
        computed: {
            displayNameErrors() {
                const errors = [];
                if (!this.$v.displayName.$dirty) return errors;
                !this.$v.displayName.required && errors.push('Campo obrigatório.');
                !this.$v.displayName.minLength && errors.push('O nome deve conter, no mínimo, 6 caracteres.');
                return errors;
            },
        }
    }
</script>
