<template>
    <v-card flat color="transparent">
        <v-card-title>
            <div class="headline">Atualizar Perfil</div>
        </v-card-title>
        <v-card-text>
            <FormProfile/>
        </v-card-text>
    </v-card>
</template>

<script>
    import FormProfile from "../forms/FormProfile";
    export default {
        name: 'CardProfile',
        components: {FormProfile}
    }
</script>
