<template>
    <v-card flat color="transparent">
        <v-card-title>
            <div class="headline">Redefinir Senha</div>
        </v-card-title>
        <v-card-text>
            <FormResetPassword/>
        </v-card-text>
    </v-card>
</template>

<script>
    import FormResetPassword from "../forms/FormResetPassword";
    export default {
        name: 'CardResetPassword',
        components: {FormResetPassword},
    }
</script>
