<template>
    <v-card flat color="transparent">
        <v-card-title>
            <div class="headline">Redefinir E-mail</div>
        </v-card-title>
        <v-card-text>
            <FormChangeEmail/>
        </v-card-text>
    </v-card>
</template>

<script>
    import FormChangeEmail from "../forms/FormChangeEmail";
    export default {
        name: 'CardChangeEmail',
        components: {FormChangeEmail}
    }
</script>
