<template>
    <v-card flat color="transparent">
        <v-card-title>
            <div class="headline">Desativar Conta</div>
        </v-card-title>
        <v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-progress-circular
                    :size="30"
                    class="mx-1"
                    indeterminate
                    v-if="loader"
                    color="error"
                ></v-progress-circular>
                <v-btn
                    color="error"
                    @click="disable"
                    :disabled="loader"
                >
                    Desativar
                </v-btn>
            </v-card-actions>
        </v-card-text>
    </v-card>
</template>

<script>
    import firebase from 'firebase/app'
    import updateUser from "../../../utils/ajax/users/updateUser";
    import logout from '@/utils/logout'

    export default {
        name: 'CardDisableUser',
        data() {
            return {
                loader: false
            }
        },
        methods: {
            disable() {
                this.loader = true;

                updateUser({
                    disabled: true,
                    uid: firebase.auth().currentUser.uid
                })
                    .then(() => {
                        logout();
                    })
                    .catch(() => {
                        this.loader = false;
                        this.showAlert('error', 'Desculpe! Não foi possível redefinir seu e-mail. Tente novamente.');
                    });
            }
        }
    }
</script>
