<template>
  <v-app>
    <router-view></router-view>
    <Alert/>
  </v-app>
</template>

<script>
  import Alert from "./components/general/Alert";
  export default {
    name: 'App',
    components: {Alert}
  }
</script>

<style>
  .v-application {
    background-color: #feffff !important;
  }

  .content-center {
    max-width: 1264px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .v-pagination__item {
    outline: none !important;
  }
</style>
